

<!DOCTYPE html>
<html lang="en">
<head>
     <title></title>

     <%- include('common/head.ejs') %>
</head>
<body class="container">
 
    <header>
     <%- include('common/header') %>   
    </header>
 
<section>
<%- body %>
</section>
 
    <footer>
     <%- include('common/footer') %>
    </footer>
 
</body>
</html>