
<script type="text/javascript">

     $(document).ready(function(){
          $(".navbar-nav").each(function(){
               $(this).hide();
          })

          var path = document.location.pathname.split("/");
          if(path.length > 1  && path[1] != "")
          {
               var controller = path[1].toString();
               $("#" +controller + "_nav").show();
          }
          else
          {
               $("#index_nav").show();
          }
     })

</script>




     <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Home</a>
            </div>
             <!-- Collect the nav links, forms, and other content for toggling -->
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav" id="index_nav">
              <li><a href="/lotto">lotto</a></li>

          </ul>
     
          <ul class="nav navbar-nav" id="lotto_nav">
            <li><a href="/lotto">Prize <span class="sr-only">(current)</span></a></li>
            <li><a href="/lotto/view">Number</a></li>
            <li><a href="/lotto/stat">Stat</a></li>
            <li><a href="/lotto/store">Store</a></li>
          </ul>
     
     
          <ul class="nav navbar-nav" id="admin_nav">
               <li><a href="/admin/api/">API/No</a></li>
               <li><a href="/admin/data">data/start/end</a></li>
               <li><a href="/admin/summary">Summary</a></li>
             </ul>
     

     
        </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
