
<script type="text/javascript">

          $(document).ready(function(){
               

               //search();
          })
     

          function search()
          {
               var data1 = $("#no").val();
               var data2= $("#fixnum").val();
               var data = {'no' : data1, 'fixnum':data2};

               Ajax.Post('/lotto/random', data, searchCallback);
          }
     
          function searchCallback(json)
          {
               $("#result").show();     
               $("#no1").text(json[0])
               $("#no2").text(json[1])
               $("#no3").text(json[2])
               $("#no4").text(json[3])
               $("#no5").text(json[4])
               $("#no6").text(json[5])
          }


</script>



<div class="form-inline">
     <div class="form-group">
          Best No
          <label class="sr-only" for="date">Best Cnt</label>
           <select  name="no" id="no" class="form-control" onchange="search()">
               <option value="">==선택==</option>
               <option value="1">1</option>
               <option value="2">2</option>          
               <option value="3">3</option>
               <option value="4">4</option>
               <option value="5">5</option>
               <option value="6">6</option>
          </select>
     </div>
     <div class="form-group">고정번호(,로 입력)
          <label class="sr-only" for="fixnum">고정번호</label>
          <input type="text" id="fixnum" name="fixnum" class="form-control" palaceholder="고정번호">
     </div>
     <button type="button" class="btn btn-default" id="btnSend" onClick="search();">Search</button>
</div>


<div style="margin-top: 40px;">

</div>


<div class="panel panel-default" id="result" style="display:none">
     <div class="panel-heading">

          <strong><span id="spndrNo"></span> 추천번호</strong><br />
          
     </div>
     <div class="panel-body">          
          <span id="no1" class="label label-default" style=background-color:;></span>
          <span id="no2" class="label label-primary"></span>
          <span id="no3"  class="label label-success"></span>
          <span id="no4" class="label label-info"></span>
          <span id="no5"  class="label label-warning"></span>
          <span id="no6"  class="label label-danger"></span>          
     </div>
   </div>
