
<script type="text/javascript">

          $(document).ready(function(){
               
               var html = "";
               for(var i=1; i<=45; i++)
               {
                    if( i!=1 && i % 10 == 1)
                    {
                         html += "<br/>"     ;
                    }
                    html += " <input type='checkbox' value='" + i + "' name='numbers'>"+ i +"</checkbox>";
               }
               //$("#divChkNum").html (html);
          })
     

          function search()
          {
               $("#resultNumber").html("");
               var data0 = $("#cnt").val();
               var data1 = $("#no").val();
               var data2= $("#fixnum").val();
               var data = {'cnt' : data0, 'no' : data1, 'fixnum':data2};

               
               for(var i = 0; i< data0; i++)
               {
                    Ajax.Post('/lotto/random', data, searchCallback);
               }
          }
     
          function searchCallback(json)
          {
               $("#result").show();     

               var html = "";
               html +="<div class=\"panel-body\">";
               html +="     <span class=\"label label-default\">"+ json.result[0] +"</span>";
               html +="     <span class=\"label label-primary\">"+ json.result[1] +"</span>";
               html +="     <span class=\"label label-success\">"+ json.result[2] +"</span>";
               html +="     <span class=\"label label-info\">"+ json.result[3] +"</span>";
               html +="     <span class=\"label label-warning\">"+ json.result[4] +"</span>";
               html +="     <span class=\"label label-danger\">"+ json.result[5] +"</span>";
               html +="</div>";

               $("#resultNumber").append(html);

          }


</script>



<div class="form-inline">

     <div class="form-group">
          
          <div id="divChkNum"></div>
     </div>

     <div class="form-group">
          <label class="sr-only" for="date">횟수</label>
          <select  name="cnt" id="cnt" class="form-control" onchange="search()">
              <option value="1">1</option>
              <option value="2">2</option>          
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
         </select>
          Best No
          <label class="sr-only" for="date">Best Cnt</label>
           <select  name="no" id="no" class="form-control" onchange="search()">
               <option value="">==선택==</option>
               <option value="1">1</option>
               <option value="2">2</option>          
               <option value="3">3</option>
               <option value="4">4</option>
               <option value="5">5</option>
               <option value="6">6</option>
          </select>
     </div>


     <div class="form-group">고정번호(,로 입력)
          <label class="sr-only" for="fixnum">고정번호</label>
          <input type="text" id="fixnum" name="fixnum" class="form-control" palaceholder="고정번호">
     </div>
     <button type="button" class="btn btn-default" id="btnSend" onClick="search();">Search</button>
</div>


<div style="margin-top: 40px;">

</div>


<div class="panel panel-default" id="result" style="display:none">
     <div class="panel-heading">

          <strong><span id="spndrNo"></span> 추천번호</strong><br />
          
     </div>
     <div id="resultNumber"></div>
     

    
   </div>
