
<div class="panel panel-default" id="result" >
     <div class="panel-heading">
          <strong><span id="spndrNo"></span> 단축 URL</strong><br />         
     </div>
     <div class="panel-body">          
          <h3><span id="newurl"  class="label label-info"></span></h3>
         
     </div>
   </div>

   <script type="text/javascript">
     var host = document.location.host;
     var json = "<%=data%>";
     
     $("#result").show();
     $("#newurl").text( "http://" + host + "/" + json);

</script>